$lime: #1db489;
$red: #dc414c;

$facebook: #198ff5;
$twitter: #1ca0f2;
$instagram: linear-gradient(to right, #fdc468, #df4996);
$youtube: #c4032a;

$toggle: linear-gradient(to right, #378fe6, #3eda82);

//dark theme
$bg-dark: #1e202a;
$topBg-dark: #1f212e;
$cardBg-dark: #252a41;
$lighttext-dark: #8b97c6;

//light theme
$hover-light: #aeb3cb;
$topBg-light: #f5f7ff;
$cardBg-light: #f0f2fa;
$lighttext-light: #63687e;
$text-light: #1e202a;
