@import "./resetcss";
@import "./variable";
@import "./mixin";

body {
  background-color: $bg-dark;
  color: white;
}

.lightTheme {
  background-color: white;
  color: $text-light;
}

.layout {
  width: 80%;
  margin: auto;
}

.banner {
  background-color: $topBg-dark;
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}

/////////// top
.top {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  p {
    font-size: smaller;
    padding-top: 8px;
    color: $lighttext-dark;
  }
  @include mobile-screen {
    flex-flow: column;
    span {
      font-size: 24px;
    }
    p {
      font-size: small;
    }
  }
}

.top-lower {
  padding: 30px 0;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
  @include mobile-screen {
    font-size: 22px;
  }
}

.darkToggle {
  display: flex;
  align-items: center;
  font-size: smaller;
  color: $lighttext-dark;
  gap: 10px;
  @include mobile-screen {
    margin-top: 30px;
    justify-content: space-between;
  }
}

.toggle {
  @include toggle($bgColor: $toggle, $bgButton: $bg-dark);
}
.toggle-light {
  @include toggle($bgColor: $toggle-light, $bgButton: white);
  background-color: $toggle-light;
  text-align: end;
}

/////////// content

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mobile-screen {
    justify-content: center;
  }
}

.facebook {
  @include bigCard(
    $bg: $cardBg-dark,
    $color: $lighttext-dark,
    $amountColor: white,
    $border: $facebook,
    $today: $lime,
    $hover: #8b97c62e
  );
}
.facebook-light {
  @include bigCard(
    $bg: $cardBg-light,
    $color: $lighttext-light,
    $amountColor: $text-light,
    $border: $facebook,
    $today: $lime,
    $hover: $hover-light
  );
}

.twitter {
  @include bigCard(
    $bg: $cardBg-dark,
    $color: $lighttext-dark,
    $amountColor: white,
    $border: $twitter,
    $today: $lime,
    $hover: #8b97c62e
  );
}
.twitter-light {
  @include bigCard(
    $bg: $cardBg-light,
    $color: $lighttext-light,
    $amountColor: $text-light,
    $border: $twitter,
    $today: $lime,
    $hover: $hover-light
  );
}

.instagram {
  @include bigCard(
    $bg: $cardBg-dark,
    $color: $lighttext-dark,
    $amountColor: white,
    $border: $instagram,
    $today: $lime,
    $hover: #8b97c62e
  );
  border-image: $instagram 30;
  // border-radius: 4px;
  border-top-width: 4px;
  border-style: solid;
}
.instagram-light {
  @include bigCard(
    $bg: $cardBg-light,
    $color: $lighttext-light,
    $amountColor: $text-light,
    $border: $instagram,
    $today: $lime,
    $hover: $hover-light
  );
  border-image: $instagram 30;
  // border-radius: 4px;
  border-top-width: 4px;
  border-style: solid;
}

.youtube {
  @include bigCard(
    $bg: $cardBg-dark,
    $color: $lighttext-dark,
    $amountColor: white,
    $border: $youtube,
    $today: $red,
    $hover: #8b97c62e
  );
}
.youtube-light {
  @include bigCard(
    $bg: $cardBg-light,
    $color: $lighttext-light,
    $amountColor: $text-light,
    $border: $youtube,
    $today: $red,
    $hover: $hover-light
  );
}

.cardIncrease {
  @include card($today: $lime);
}

.cardDecrease {
  @include card($today: $red);
}
